<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262953521889-7j0k46k5ikq5gvnel5vlr9tcnabvbq8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262953521889-7j0k46k5ikq5gvnel5vlr9tcnabvbq8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCSFMCeA3rDGe17eAYl8dg-mPnePN0j0dY</string>
	<key>GCM_SENDER_ID</key>
	<string>262953521889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasManagementApp</string>
	<key>PROJECT_ID</key>
	<string>task-management-apps-c9864</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-apps-c9864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262953521889:ios:b9daead43286b51558dda0</string>
</dict>
</plist>